<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PATH" value="node.exe"/>
    <add key="OUTPUT" value="test.log"/>
    <add key="ARGV0" value="-p"/>
    <add key="ARGV1" value="42"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
